<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>314351358310-vui7gqvupe198achot516hdra3856pm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314351358310-vui7gqvupe198achot516hdra3856pm2</string>
	<key>API_KEY</key>
	<string>AIzaSyAXyev9X8esoL-I6rCKKbugCZAw8MZnNbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>314351358310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobilemakers.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-5189b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-5189b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:314351358310:ios:2df0d3e31fdcb507</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-5189b.firebaseio.com</string>
</dict>
</plist>